<div class="row">
	<% if notice %>
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>
    </div>  
  <% end %>
  	<div class="col-sm-12">
  		<p>demopanel</p>
  	</div>
  	<div class="col-sm-12 centered">

    </div>
 
</div>
