<% if flash[:message_notice] %>
$('#new_message').before('<div class="notice row"><p><%= flash[:message_notice] %></p></div>');
$('#new_message').remove();
$('.notice').click(function(){
    $(this).remove();
});
<% end %>


<% if @message.errors[:name].any? %>
$('#message_name').parent('.form-group').removeClass('has-warning');
$('#message_name').removeClass('form-control-warning');
$('#message_nameFeedback').remove();
$('#message_name').parent('.form-group').addClass('has-warning');
$('#message_name').addClass('form-control-warning');
$('#message_name').after('<div class="form-control-feedback" id="message_nameFeedback"><% @message.errors[:name].each do |msg| %><%= msg %><br><% end %></div>');
$('#message_nameFeedback').click(function(){
    $(this).remove();
});
<% else %>
$('#message_name').parent('.form-group').removeClass('has-warning');
$('#message_name').removeClass('form-control-warning');
$('#message_nameFeedback').remove();
<% end %>

<% if @message.errors[:email].any? %>
$('#message_email').parent('.form-group').removeClass('has-warning');
$('#message_email').removeClass('form-control-warning');
$('#message_emailFeedback').remove();
$('#message_email').parent('.form-group').addClass('has-warning');
$('#message_email').addClass('form-control-warning');
$('#message_email').after('<div class="form-control-feedback" id="message_emailFeedback"><% @message.errors[:email].each do |msg| %><%= msg %><br><% end %></div>');
$('#message_emailFeedback').click(function(){
    $(this).remove();
});
<% else %>
$('#message_email').parent('.form-group').removeClass('has-warning');
$('#message_email').removeClass('form-control-warning');
$('#message_emailFeedback').remove();
<% end %>

<% if @message.errors[:content].any? %>
$('#message_content').parent('.form-group').removeClass('has-warning');
$('#message_content').removeClass('form-control-warning');
$('#message_contentFeedback').remove();
$('#message_content').parent('.form-group').addClass('has-warning');
$('#message_content').addClass('form-control-warning');
$('#message_content').after('<div class="form-control-feedback" id="message_contentFeedback"><% @message.errors[:content].each do |msg| %><%= msg %><br><% end %></div>');
$('#message_contentFeedback').click(function(){
    $(this).remove();
});
<% else %>
$('#message_content').parent('.form-group').removeClass('has-warning');
$('#message_content').removeClass('form-control-warning');
$('#message_contentFeedback').remove();
<% end %>