<div id="" class="event-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/demoevent/event2.jpg)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption"><h3>CALISTHENICS WORKSHOP</h3>
			</div>
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">

	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin justify">
			<h3 class="color-gold">COURSE DESCRIPTION</h3>
				<p>The word calisthenics comes from the ancient Greek words
kalos, which means &quot;beauty&quot;, and sthenos, meaning
&quot;strength&quot;. It is the art of using one&#39;s body weight and
qualities of inertia as a means to develop one&#39;s physical and
mental strength.</p>
<p>This Workshop uses Calisthenics exercises including bars, rings, parallettes and animal
locomotion to improve mobility, agility, strength, and stamina for both new movers and
professional athletes. This 90min course will give you a full body workout and energize you
for your day.</p>
<p>The workshop will take place at Agoge Athletic Club <%= link_to "(map)", "https://www.google.de/maps/place/Agoge+Athletic+Club/@51.2248,6.703216,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8b5ce951f57cb:0x8518fb52a97d570d!8m2!3d51.2248!4d6.70541", :target => "_blank" %>.
Easy parking, right in front of the studio. You will have full
access to the showers and toilettes which are separated by
gender.</p>
<p>What to wear? Shorts and shirts are best. If you&#39;re afraid you
might be cold at the beginning or end of class, bring a fitted
long-sleeve shirt along as an outer layer.</p>
				<p>
				THE CLASS IS APPROPRIATE FOR ALL SKILL
				LEVELS AND EXPERIENCE.
				</p>
				<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
					<% end %>
			</div>
		</div>
	</div>
	
</div>