
<div id="" class="service-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/services/grouptr_1080.jpg)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption container"><h3>GROUP TRAINING</h3></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>
<div class="content-section">
<div class="container">
	<div class="row">
		<div class="col-sm-12 content-wrap justify content-basemargin">

		<p>Are you a social person, a team player? Do you prefer to workout with a small group of other
motivated individuals? Train in group &amp; share the cost, all while having fun with your session
partners and build better communication and trust between members of a team!</p>

<p>In this program, you get the benefit of receiving more personalized attention from a certified
personal trainer and mixed movement artist for the cost of a fitness class. It does not matter
what your fitness level or age, because you will always go at your own pace. The classes are
fun, varied and effective, available in 30 and 60 minute durations combine cardio, strength
training and stretching for maximum weight loss and toning. You will use free weights,
bands, medicine balls, machines, outdoors, kettle bells, TRX bands, and body weight. I will
take you and your partner(s) through an amazing workout to reach your fitness needs and
goals.</p>
<p>
Don’t wait any longer. Set up a complementary workout today.</p>
<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
					<% end %>
		</div>
	</div>
</div>
</div>