<div class="row">
<div class="col-sm-12 aftermargin"><%= link_to 'Back', admin_creviews_path, :class => "btn btn-primary" %></div>
<div class="col-sm-12"><h3>New review</h3></div>
	
</div>
<%= render 'form', creview: @creview %>

