<div class="row">
	<div class="col-sm-12 aftermargin">
		<%= link_to 'Show', [:admin, @event], :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_events_path, :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-12">
		<h3>Editing Event</h3>
	</div>
</div>
<%= render 'form', event: @event %>

