<div class="row">
	<div class="col-sm-12 aftermargin">
		<%= link_to 'Show', [:admin,@budokoncard], :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_budokoncards_path, :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-12">
		<h3>Editing budokoncard</h3>	
	</div>
</div>
<%= render 'form', budokoncard: @budokoncard %>

