<footer>
<div class="container-fluid">
	<div class="row footer-wrap">
		<div class="col-sm-12 footer-pre centered">
			<div class="footer-pre-content">

				
			</div>	
		</div>
		<div class="col-sm-12 footer centered">
			<div class="footer-content">
				<p>info@attilapt.com</p>
			</div>
		</div>
	</div>
	</div>
</footer>