<div class="col-sm-12 col-md-12 col-lg-12 collapse-example-wrap" id="collapseExample<%= @lesson.id %>Wrap">
	<div class="collapse" id="collapseExample<%= @lesson.id %>">
	  <div class="card card-body">
	    LOADING...
	  </div>
	</div>
</div>