	<div class="container-fluid">
		<div class="row service-select">

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/grouptr.jpg);">
					<div class="service-tab-background-caption">
						<h3>workshops & retreats</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>Do you want to learn something new? Give yourself
this unique opportunity to move, grow, play and learn with an
epic bunch of people. Find out where I will be next or request
me to come and teach at your studio.</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to workshops_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/oneonone.jpg);">
					<div class="service-tab-background-caption">
						<h3>one on one personal training</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>Take your game to the next level. To train at a high level, it is not just
exercising. If that is what you were thinking, think again. Real
personal training done correctly transforms the body and the mind
as many of my clients have experienced it. I focus on one thing and
one thing only, and that is You! I understand that everyone has different needs. You
may have never worked out before or may be a professional athlete, I will personalize a program
that suits your fitness needs and goals. If you are worried about injury or have an injury that may
prevent you from starting a fitness program, no worries I have package for you too. I offer flexible
programs in 30, and 60-minute durations. The Personal Training program includes various
workouts such as high intensity interval training for better cardiovascular system and stronger
heart, body weight functional training for strength and coordination, martial arts for speed and
agility, yoga for flexibility and stress relief and much more. This is the ideal way to keep you
moving and injury free. Workouts that only have one or two different elements to them can
become quite boring, which makes it much easier for you to quit. I know you are ready to see real
results…I will help you get there! And I will support you the entire way. I have watched my clients
lose from 5-20 kilograms, seen them get rid of jiggle and cellulite, cheered as they increased their
strength going from skinny to amazing.</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to personal_training_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/massage.jpg);">
					<div class="service-tab-background-caption">
						<h3>therapeutic massage</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>Therapeutic massage is a great add on to intense training as it assists with keeping injuries at
bay, or in their acute phase.  If you are suffering from an acute injury and there is no specific
medical condition behind it, muscle/fascia/tendon trauma could be the issue which is greatly
relieved through massage.</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to massage_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>