<div id="" class="hero container-fluid" >
	<div class="row bg attila">
	</div>	
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><!--h1>ATTILA <br>THE HUN</h1--></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin justify">
				<p>Hey there,</p>

<p>I’m Attila, a qualified coach, personal trainer, massage therapist, mixed mover and a
genuine waterman from Hungary, focusing all my efforts to help people succeed and
learn the processes necessary to make movement &amp; healthy eating a solid part of
their daily routine and lifestyle.</p>

<p>I studied at the University of West Hungary where I attained my B.A. degree in P.E.
Trainer of Gymnastic and gained a certification in Applied Exercise Physiology.
Throughout High School I tried just about every sport going and as a result I was
constantly active.</p>
 
<p>After studying I went to Budapest/Hungary and qualified as a Personal Trainer and
began giving private lessons and functional group training courses.</p>

<p>I worked as an instructor for various professional windsurf centers in Greece, with the
purpose of improving windsurfers’ athletic skills and techniques, we would windsurf
every day till sunset. My time on the water gave me the desire to teach movement
and it became my passion, I realized that I can help people become happier and
healthier through exercise.</p>

<p>In 2016 I discovered Kancho Cameron Shayne and Budokon. I have recently
returned from studying with his astonishing style, and am focused on sharing my
experience.</p>

<p>I actively teach Budokon, and Group Fitness Classes, give Personal Training and
Massage in Düsseldorf, and help people with their Nutrition.</p>
			</div>
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/attila/focusprocess.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>FOCUS ON THE PROCESS AND RESULTS WILL COME!</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<h3 class="centered">EDUCATION</h3>
					<ul class="edu-list">
						<li>BAASc in P.E.- Trainer of Gymnastics – University of West Hungary</li>
						<li>Certified Budokon Yoga &amp; Calisthenics Trainer</li>
						<li>Certified Personal Trainer EQF Level 4</li>
						<li>Certified Massage Therapist</li>
						<li>Certified Crossfit Trainer Level 1</li>
						<li>Certified Windsurf Instructor</li>
						<li>Certified Lifeguard</li>
					</ul>
			</div>
		</div>
	</div>
	
</div>