<div id="" class="hero container-fluid" >
	<div class="row bg attila">
	</div>	
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>mixed movement athlete</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin justify">
				<p>Hey there,</p>

				<p>I’m Attila, a qualified coach, personal trainer, massage therapist, mixed movement athlete and a genuine waterman from Hungary.</p>

				<p>
				Growing up in a sporty family with two older brothers meant a lot of fun and competition. It seemed at the beginning it is going to lead me into the world of health and fitness. Now, my passion and experiences in fitness have broadened to include weight training, gymnastics, athletics, yoga, martial arts, swimming, biking, surfing, climbing and more. At an early age, I was taught that health and well-being of an individual encompasses the mind, body and soul. Our outer-self balanced with our inner-self. As a personal trainer, I like to take a fun and educational approach to each workout session.
				</p>

				<p>
				My philosophy focuses on continual lifelong, and to equip people with not only the skills, but also the knowledge of how to reach their fitness and health goals. Whether it’s to be ready for the beach or to be ready for the mountain, my mission is to help guide my clients through their journey to get there.
				</p>

				<p>
				In 2016 I discovered Kancho Cameron Shayne and ¨Budokon in Miami. I have recently returned from studying with his astonishing style, and am focused on sharing my experience.
				</p>

				<p>
				I actively teach Budokon, and Group Fitness Classes, give Personal Training and Massage in Düsseldorf.
				</p>
			</div>
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/attila/focusprocess.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>FOCUS ON THE PROCESS AND RESULTS WILL COME!</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<h3 class="centered">EDUCATION</h3>
				<ul class="edu-list">
					<li>BAASc in P.E.- Trainer of Gymnastics – University of West Hungary</li>
					<li>Certified Budokon Yoga &amp; Calisthenics Trainer</li>
					<li>Certified Personal Trainer EQF Level 4</li>
					<li>Certified Massage Therapist</li>
					<li>Certified Crossfit Trainer Level 1</li>
					<li>Certified Windsurf Instructor</li>
					<li>Certified Lifeguard</li>
					<li>Optimum Nutrition for Health & Performance</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>