<div id="" class="hero container-fluid">
	<div class="row bg booking">
	</div>
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>BOOKING</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="event-select row">
			<div class="col-sm-6 event-select-events">
				<select class="custom-select">
					<option selected>Open this select menu</option>
				</select>
			</div>
		</div>
		<div class="datepicker-container row">
			<div class="col-sm-6 booking-datepicker"></div>
			<div class="col-sm-6 booking-timetable">
			</div>
		</div>
	</div>
</div>