<div id="" class="hero container-fluid">
	<div class="row bg booking">
	</div>
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>BOOKING</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="datepicker-container row">
			<div class="col-sm-6"></div>
		</div>
		<div id="simplybook-widget">
		</div>
	</div>
</div>