<div id="" class="budokon hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>„THE WAY WE DO ANYTHING, IS THE WAY WE DO EVERYTHING”</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<%= render'front/pages/budokoncard_collection' %>
	</div>
</div>