<div id="" class="budokon hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>„THE WAY WE DO ANYTHING, IS THE WAY WE DO EVERYTHING”</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row">

			<% @budokoncard.each do |budokoncard| %>

				<div class="col-lg-4 aftermargin">
					<div class="card">
						<%= image_tag budokoncard.cover.thumb, :class => "card-img-top" %>
						<div class="card-body">
							<h5 class="card-title centered">
								<%= budokoncard.title %>
							</h5>
							<p class="card-text">
								<%= truncate budokoncard.description, :length => 130 %>
							</p>
						</div>
						<div class="card-footer">
							<%= link_to "view", show_budokon_path(budokoncard), remote: true, class: 'budokonModalButton btn btn-primary pull-right','data-toggle':"modal", 'data-target':"#budokonModal"%>
						</div>
					</div>
				</div>		
				
			<% end %>

		</div>
	</div>
</div>

<!-- MODAL -->
<div id="budokonModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg ">
		<div id="budkoncardModal" class="modal-content budokoncard-modal">
			LOADING...
		</div>
	</div>
</div>