<div id="" class="hero container-fluid">
	<div class="row bg classes">
	</div>
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>CLASSES</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section timetable">
	<div class="container">
      <%= render'front/pages/classes_collection' %>
	</div>
</div>