<div id="" class="contacts hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>LET'S HAVE A CHAT</h1></div>
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row aftermargin">
			<div class="col-md-6 col-sm-12">
				<div class="aftermargin">
					<h1>Contact me today</h1>
					<p>Please feel free to reach out to me if you have any questions or comments about the services I offer. Also, you could always just send me a friendly hello.</p>
				</div>
				<div class="aftermargin">
					<h2>Contact information</h2>
					<ul class="contact-info">
						<li>attilapt.com</li>
						<li>Düsseldorfer Str. 172 <br>	
						40545 Düsseldorf
						</li>
						<li>+49 170 9968676</li>
						<li>info@attilapt.com</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<%= render'contactmessageform' %>		
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 contact-map-wrap">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8403.52264238879!2d6.741423781358045!3d51.23045507739156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8b5fbbc4c9875%3A0x44847410e501aee0!2zRMO8c3NlbGRvcmZlciBTdHIuIDE3MiwgNDA1NDUgRMO8c3NlbGRvcmYsIE7DqW1ldG9yc3rDoWc!5e0!3m2!1shu!2shu!4v1511790270934" width="800" height="400" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>