
<div id="" class="service-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/services/massage_1080.jpg)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption container"><h3>MASSAGE</h3></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>
<div class="content-section">
<div class="container">
	<div class="row">
		<div class="col-sm-12 content-wrap justify content-basemargin">

		<p>Therapeutic massage is a great add on to intense training as it assists with keeping injuries at
bay, or in their acute phase.  If you are suffering from an acute injury and there is no specific
medical condition behind it, muscle/fascia/tendon trauma could be the issue which is greatly
relieved through massage.</p>

<p>A consultation will be offered before your massage to help locate the original trauma, with
information being relayed to you throughout so you understand what needs attention,
strengthening and possible further treatment. Get relief and empowerment in one session!</p>

			<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
				<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
			<% end %>
		</div>
	</div>
</div>
</div>