<div id="" class="service-hero container-fluid">
	<div class="row bg" style="background:url(/images/services/oneonone_1080.jpg)">
	</div>
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption container"><h3>PERSONAL TRAINING</h3></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>
<div class="content-section">
<div class="container">
	<div class="row">
		<div class="col-sm-12 content-wrap justify content-basemargin">

		<!--p>To take your training to the next level, you have to think beyond exercise.  Personal training done correctly,
transforms the body and the mind as many of my clients have experienced.  I focus on one thing and one
thing only - YOU.  I understand everybody has different needs.  Whether you are a professional athlete or
someone who is a beginner, I will personalize a program that suits your fitness needs and goals.  If you are
suffering from a acute or chronic pain, I offer flexible programs in 30 and 60 minute durations.  This includes
various workouts such as high intensity interval training for better cardiovascular system and stronger heart,
body weight functional training for strength and co-ordination, marts arts for speed and agility, yoga for
flexibility and stress relief.  This is the ideal way to keep you moving and injury free, by varying your
movement and not focusing on one type. Variation also helps keep you motivated and wanting to develop
and get stronger.</p>

<p>Designed to be progressive and challenging, the plan will take you through all facets of fitness
development, making sure that you are not just leaner, but also stronger, more flexible, more stable and
agile. I guarantee my commitment, alongside your own, will deliver results … fast.  I have watched my
clients lose from 5-20 kilograms as well as stubborn cellulite through my support.</p>

<p>Don’t procrastinate any longer.  Set up a 60 minute complementary workout today. In addition to the
workouts we do in the session, you will be given in-home routines to do on your own time, and nutrition tips
to feel good and look better. This can be very effective when used in tandem with massage to address the
root causes of pain.</p>

<p>Schedule your workout today</p-->

<h5 class="centered">ATTILA PERSONAL TRAINING CREDO</h5>
<p>
I help busy men and women overhaul their health & fitness using a combination of tailored exercise, nutrition, lifestyle and mindset systems that are holistic and sustainable forever so they can...
</p>
<ul class="custom-list">
	<li>✓ Feel confident and attractive around their friends, family, and out in public</li>
	<li>✓ Feel full of energy throughout the day</li>
	<li>✓ Fit into the clothes they want to wear</li>
	<li>✓ Stop worrying about getting diseases</li>
	<li>✓ Do day-to-day activities without getting out of breath and tired such as playing with their children</li>
</ul>
<p>Without having to....<p>
<ul class="custom-list">
	<li>✓ Starve themselves - No diets!</li>
	<li>✓ Count calories or weigh foods</li>
	<li>✓ Give up the foods they enjoy</li>
	<li>✓ Spend hours cooking or exercising</li>
	<li>✓ Share a gym with others</li>
</ul>

<%= link_to booking_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
					<% end %>

		</div>
	</div>
</div>
</div>