<div id="" class="workshops hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>FIND OUT WHERE I&#39;LL BE NEXT OR REQUEST ME TO COME AND TEACH AT YOUR STUDIO</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<%= render'front/pages/workshops_collection' %>
</div>