<div id="" class="hero container-fluid">
	<div class="workshops bg row">
	</div>
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>FIND OUT WHERE I&#39;LL BE NEXT OR REQUEST ME TO COME AND TEACH AT YOUR STUDIO</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section events-collection">
	<%= render'front/pages/workshops_collection' %>
</div>