	<div class="container-fluid">
		<div class="row service-select">

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/oneonone.jpg);">
					<div class="service-tab-background-caption">
						<h3>one on one personal training</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>1 on 1 personal training</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_personal_training_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/massage.jpg);">
					<div class="service-tab-background-caption">
						<h3>therapeutic massage</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>therapeutic massage</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_massage_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/grouptr.jpg);">
					<div class="service-tab-background-caption">
						<h3>group training</h3>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>group training</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_group_training_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>