<div id="" class="event-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/demoevent/event4.jpg)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption"><h3>NATURAL MOVEMENT WORKSHOP</h3>
			</div>
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">

	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin justify">
			<h3 class="color-gold">COURSE DESCRIPTION</h3>
				<p>
					In this workshops we explore our primal movement patterns and discover what our bodies are
capable to do by nature.</p>
<p>
We work on our flexibility, strength and coordination by creating mobility chains looking at the way
humans used to move and animals still do. We construct, deconstruct, progress and regress
quadrupedal movement patterns and will increase our range of motion to gain options in the way
we move to support a healthy and mobile life.</p>
<p>
The Course uses a combination of BDK Yoga Flow, basic
calisthenics moves and animal locomotions to help build a
solid foundation os skills, fexibility, strength, coordination and
balance.</p>
<p>
The workshop will take place at Karmakarma Studio <%= link_to "(map)", "https://www.google.hu/maps/place/karmakarma+Yogastudio/@51.2157487,6.7742724,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8ca3fa50852fb:0xd205559dc09117e0!8m2!3d51.2157487!4d6.7764611", :target => "_blank" %>.
Parking is not easy, you might be lucky. The location is only 2
minutes walking distance from Kirchplatz, save the world use
public transport. You will have full access to the dressing
rooms and toilettes which are separated by gender. Yoga
mats are provided by the studio, but feel free to bring your
own if you like.</p>
<p>
What to wear? Thin legging, or short and a shirt are best
which cover your shoulders due to the floor work we do during
the workshop. If you&#39;re afraid you might be cold at the
beginning or end of class, bring a fitted long-sleeve shirt along
as an outer layer.</p>
<p>
There is no movement experience required, only a curious
and playful mind-set.</p>
<p>
Price: €35,- for members and €40,- for guests
				</p>
				<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
					<% end %>
			</div>
		</div>
	</div>
	
</div>