
<div id="" class="service-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/services/massage_1080.jpg)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption"><h3>therapeutic massage</h3></div>
			
		</div>
	</div>
</div>
<div class="container section-content">
	<div class="row">
		<div class="col-sm-12 content-wrap justify">

		<p>Therapeutic massages are designed to solve problems.  If you have chronic pain that
is not due to a specific medical condition, there’s a great chance that the root lies in
your muscles.  Before your massage, you’ll be asked about what you feel
and when you feel it.  During the course of the massage, we’ll look for possible
causes of your pain and try to unwind them.  You’ll leave armed with an explanation
of anything the session uncovered, as well as advice on how to address your
specific pain(s) through stretches or exercises.  Get relief and empowerment in
one session!</p>
<%= link_to contacts_path, class: 'button-link' do %>
	<button type="button" class="btn btn-lg btn-outline-secondary pull-right">BOOK NOW</button>
<% end %>
		</div>
	</div>
</div>