<div id="" class="schedule hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>SCHEDULE</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin">
				<p>Currently I am teaching Budokon and Fitness classes at Agoge Athletic
Club in Heerdt, Rundum Yoga in Unterbilk, as well as private classes
(check out “services” for more info)</p>
			</div>

			<div class="col-sm-12 aftermargin schedule-card">
				<h3>BDK YOGA</h3>
				<p>This class covers the bdk yoga primary
					series and is suitable for all. I provide a
					range of adjustments and modifications for
					everybody attending, giveing easier and
					more challenging variations to suit each
					individuals level of practice.
				</p>
				<ul class="pull-right">
					<li>Wednesday / 7:45pm Rundum Yoga
					</li>
					<li>Thursday / 8pm Agoge Athletic Club
					</li>
				</ul>
			</div>
			<div class="col-sm-12 aftermargin schedule-card">
			<h3>CARDIO &amp; FUNCTIONAL TRAINING</h3>
				<p>This class uses calisthenic &amp; light weight
exercises including bars, rings, dumbbells,
and animal locomotion to help build a solid
foundation of strength, agility and cardio.

This one hour class will give you a full body
workout and energize you for your day. It is
appropriate for all levels.
				</p>
				<ul class="pull-right">
					<li>Monday / 5 & 6pm Agoge Athletic Club
					</li>
					<li>Thursday / 6 & 7pm Agoge Athletic Club
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>