<div id="" class="schedule hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>SCHEDULE</h1></div>
			
		</div>
	</div>
</div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin">
				<p>Currently I am teaching Budokon and Fitness classes at Agoge Athletic
Club in Heerdt, Rundum Yoga in Unterbilk, as well as private classes
(check out “services” for more info)</p>
			</div>

			<div class="col-sm-12 aftermargin schedule-card">
				<h3>BDK YOGA</h3>
				<p>THIS CLASS COVERS THE BDK YOGA PRIMARY
					SERIES AND IS SUITABLE FOR ALL. I PROVIDE A
					RANGE OF ADJUSTMENTS AND MODIFICATIONS FOR
					EVERYBODY ATTENDING, GIVEING EASIER AND
					MORE CHALLENGING VARIATIONS TO SUIT EACH
					INDIVIDUALS LEVEL OF PRACTICE.
				</p>
				<ul class="pull-right">
					<li>Wednesday / 7:45pm Rundum Yoga
					</li>
					<li>Thursday / 8pm Agoge Athletic Club
					</li>
				</ul>
			</div>
			<div class="col-sm-12 aftermargin schedule-card">
			<h3>CARDIO &amp; FUNCTIONAL TRAINING</h3>
				<p>THIS CLASS USES CALISTHENIC &amp; LIGHT WEIGHT
EXERCISES INCLUDING BARS, RINGS, DUMBBELLS,
AND ANIMAL LOCOMOTION TO HELP BUILD A SOLID
FOUNDATION OF STRENGTH, AGILITY AND CARDIO.

THIS ONE HOUR CLASS WILL GIVE YOU A FULL BODY
WORKOUT AND ENERGIZE YOU FOR YOUR DAY. IT IS
APPROPRIATE FOR ALL LEVELS.
				</p>
				<ul class="pull-right">
					<li>Monday / 5 & 6pm Agoge Athletic Club
					</li>
					<li>Thursday / 6 & 7pm Agoge Athletic Club
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>