<div id="" class="services hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>ARE YOU READY FOR CHANGE?</h1></div>
			
		</div>
	</div>
</div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin justify">
				<p>These are the key services my clients typically require to achieve, or surpass, their wellness and fitness goals.  To find out more about each of these services, just click on the links below.  I combine these services to create the right program for you and are constantly reviewing how I work with you as you develop and meet your goals.</p>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row service-select">

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/oneonone.jpg);">
					<div class="service-tab-background-caption">
						<h5>one on one personal training</h5>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>1 on 1 personal training</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_personal_training_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/massage.jpg);">
					<div class="service-tab-background-caption">
						<h5>therapeutic massage</h5>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>therapeutic massage</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_massage_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="service-tab col-sm-4">
				<div class="service-tab-background" style="background-image: url(images/services/grouptr.jpg);">
					<div class="service-tab-background-caption">
						<h5>group training</h5>
					</div>
				</div>
				<div class="service-tab-caption">
					<div class="service-card-content">
							<p>group training</p>
					</div>
					<div class="service-card-footer">
						<div class="pull-right">
						<%= link_to services_group_training_path, class: 'button-link' do %>
						<button type="button" class="btn btn-outline-secondary">more</button>
						<% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
