// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.eventlist-tmb{
	min-width:100%;
	padding: 5px 0;
}
form .field{
	margin-bottom: 1em;
}
.admin-event-card{
	padding:0.6em;
	
	.row{
		margin:0;
		padding: 1em;
		border:1px solid gray;
		border-radius: 1em;
	}
}
