<div class="row">
    <div class="col-sm-12 aftermargin">
        <%= link_to 'Show', [:admin, @sponsor], :class => "btn btn-primary" %>
        <%= link_to 'Back', admin_sponsors_path, :class => "btn btn-primary" %>        
    </div>
    <div class="col-sm-12">
        <h3>Editing Sponsor</h3>        
    </div>
</div>
<%= render 'form', sponsor: @sponsor %>
