@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}

@include declare-font-face('nunito', 'Nunito-Regular', 400);
@include declare-font-face('nunito-bold', 'Nunito-Bold', 700);
@include declare-font-face('nunito-light', 'Nunito-Light', 300);

body{
	color:dimgrey;
}
.bg-center{
	background-position: center!important;
}
.cshow{
	display:inherit!important;
}
.chide{
	display:none;
}
.centered{
	text-align:center;
}
.justify{
	text-align: justify;
}
.bg-black{
	background-color:rgba(32, 26, 22, 0.9);
}
.aftermargin{
	margin-bottom: 2em;
}
.pull-right{
	float:right;
}
.button-link{
	cursor:pointer;
	display:block;
	border-radius:0;
	button{
		cursor:pointer;
		border-radius:0;
	}
}
.color-gold{
	color:#c8ab2d;
}
*{
	font-family:nunito;
}
p{
	font-size: 22px;
	font-family:nunito;
}
h1,h2,h3,h4,h5{
	font-family:nunito-light;
}
a{
	font-family: nunito;
}
main{
	min-height:500px;
}
ul li{
 font-size: 22px;
}
.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.content-section{
	padding: 3em 0 0 0;
}

.section-content .content-wrap{
	padding: 3em 1em;
}

.content-basemargin{
	margin-bottom:2em;
}

.jumptarget{
    display: block;
    height: 49px;
    margin: -49px 0 0 0;
    background-color: transparent;
}
@media (max-width: 767px) { 
	.jumptarget{
		height: 59px;
    	margin: -59px 0 0 0;
	}
}

.inside-link{
	color:#332e2a;
	
	&:hover{
		color: dimgrey;text-decoration: none;
	}
}
.outside-link{
	color:#332e2a;

	&:hover{
		color: dimgrey;text-decoration: none;
	}
}
//
////

.home{
	background: url(/images/home/home.jpg);

}
.budokon{
	background: url(/images/budokon/budokon.jpg);

}
.classes{
	background: url(/images/classes/classes.jpg);
;
}
.attila{
	background: url(/images/attila/attila.jpg);

}
.contacts{
	background: url(/images/contacts/contacts.jpg);
	
}
.workshops{
	background: url(/images/workshops/workshops.jpg);
	
}
.hero{
	height: 100vh;
	background-position: top center;
}
.parallax-section{
	height: 400px;
	background-position:top center;
}
.service-hero{
	height:50vh;
    background-position:top center;
}
.event-hero{
	height:50vh;
    background-position:top center;
}
.event-hero.container-fluid, .service-hero.container-fluid, .hero.container-fluid, .parallax-section.container-fluid {
	background-size: cover!important;
	background-repeat: no-repeat !important;
	overflow-x: hidden;
	width:100%;
	.row{
		height:100%;
		background-color: rgba(0,0,0,0.2);
		.caption-wrap{
			color: #fff;
    		height: 100%;
    		display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
    		-webkit-box-align: center;
    		-webkit-align-items: center;
    		-ms-flex-align: center;
    		align-items: center;
    		.caption{
    			text-transform: uppercase;
    			font-family: nunito-light;
    			width:100%;
    			text-align:center;
    			h3{
    				display:inline;
    				line-height: 1.4;
    				background-color: rgba(0,0,0,0.3);
    				box-shadow: 7px 0 0 rgba(0,0,0,0.3), -7px 0 0 rgba(0,0,0,0.3);

    			}
    			h1{
    				font-size: 60px;
    				display:inline;
    				line-height: 1.4;
    				background-color: rgba(0,0,0,0.3);
    				box-shadow: 7px 0 0 rgba(0,0,0,0.3), -7px 0 0 rgba(0,0,0,0.3);
    			}
    		}
		}
	}
}
@media (max-width: 991px) { 
	.hero.container-fluid .row .caption-wrap .caption h1{
		font-size:2.5em;
	}
}



//
//home//
//
.opening-video{
	height:100vh;
	overflow: hidden;
}
video {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

.home-bio{
	.home-bio-avatar{
		margin-top: auto;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
		img{

   


		}
	}
}
//
//attila//
//
.edu-list{
	list-style-type: none;
	padding:0;
}
//
//service
//

.service-select{
	.service-tab{
		padding: 0;
		overflow:hidden;
		height:250px;
		.service-tab-background{
			position: absolute;
			z-index: -1;
			display:flex;
			height:100%;
			width:100%;
			align-items: center;
			justify-content: center;
			background-size:cover;
			background-position: center;
			text-align:center;
			.service-tab-background-caption{
				padding: 5px;
				margin:auto;
				h3{
					text-transform: uppercase;
					color:white;
					display: inline;
					line-height: 1.4;
					background-color: rgba(0, 0, 0, 0.3);
					-webkit-box-shadow: 7px 0 0 rgba(0, 0, 0, 0.3), -7px 0 0 rgba(0, 0, 0, 0.3);
					box-shadow: 7px 0 0 rgba(0, 0, 0, 0.3), -7px 0 0 rgba(0, 0, 0, 0.3);
				}
			}
		}
		.service-tab-caption{
			display:none;
			height:100%;
			width:100%;
			background-color: rgba(0,0,0,0.8);
			.service-card-content{
			padding:5px;
			height:80%;
			color: white;
			text-align:justify;
				p{
					font-size: 20px;
					max-height: 100%;
					padding:5px;
					margin: 0;
					display: -webkit-box;
					-webkit-line-clamp:6;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.service-card-footer{
				display: flex;
				height:20%;
				background-color: #f0f0f0;
				div{
					margin: auto 1em auto auto;
				}	
			}
		}
	}
}
//
//classes
//

.timetable{
	background-image: url('/images/classes/classes-poster.png');
	background-repeat:no-repeat;
	background-size:500px;
	background-position: right bottom;
	padding-top: 3em;
	padding-bottom:3em;
}
.timetable-day{
	text-transform: uppercase;
	color: #c8ab2d;
	font-size: 22px;
}

.timetable-day-wraps{
	padding:0.3em 0.3em;
	font-weight: bold;
}

.timetable-day .timetable-day-title-wrap{
	color:#c8ab2d;
}

.timetable-day .timetable-day-time-wrap{
}
.timetable-day .timetable-day-time-wrap .timetable-day-time{
	padding:0.6em;
	background-color: rgba(32, 26, 22, 0.9);
}

.timetable-day .timetable-day-info-wrap{
}
.timetable-day .timetable-day-info-wrap .timetable-day-info{
	padding:0.6em;
	background-color: rgba(32, 26, 22, 0.9);
	.classesCollapseButton{
		color: #c8ab2d;
	}
}

@media (max-width: 575px) {
	.timetable{
		background-size:cover;
		background-position: left top;
	}
	.timetable-day{
		color:white;
		font-size: 1em;
	}
	.timetable-day .timetable-day-title{
		padding:0.6em;
		background-color:rgba(255,255,255,0.7);
	}
}

@media (max-width: 767px) { 
	.timetable{
		background-size:cover;
		background-position: left top;
	}
	.timetable-day{
		color:white;
		font-size: 1em;
	}
	.timetable-day .timetable-day-title{
		padding:0.6em;
		background-color:rgba(255,255,255,0.7);
	}
	.timetable-day .timetable-day-title-wrap{
		color:rgba(32, 26, 22, 0.9);
	}
	.timetable-day .timetable-day-info-wrap .timetable-day-info{
		text-align:center;
	}
}

.collapse-example-wrap{
	padding:0 0.3em;

	.card-body{
		background-color: rgba(32, 26, 22, 0.9);
	}
}

.close{
	color:#c8ab2d!important;
	font-size: 28px;
	cursor: pointer;
}

//
// contact
//
ul.contact-info{
	list-style-type: none;
	padding:0;
}
.contact-map-wrap{
	padding:0;
	background-color: #f0f0f0;
}

//
//bootstrap 4 beta validation
//
.has-warning .form-control {
    border-color: #f0ad4e;
}
.has-warning .form-control-warning {
    background-image: url(/images/ic_warning_black.svg);
}
.form-control-danger, .form-control-success, .form-control-warning {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}
.has-warning .form-control-feedback{
    color: #f0ad4e;
}
.form-control-feedback {
    margin-top: .25rem;
}

.notice{
	color:#5cb85c;
	p{
		margin:0 auto;
	}
}

//
//events
//

.events-card{
	margin-bottom:2em;
	padding: 0 20px;
	.events-card-thumb{
		min-height:250px;
		background-size: cover !important;
		background-position: center !important;
		.row{
			padding:15px;
			.events-card-date{
				padding:3px;
				position: absolute;
				top: 10px;
				right: 10px;
				height: auto;
				text-transform: uppercase;
				border:1px solid dimgrey;
				background-color: rgba(255,255,255,0.8);
			}
		}
	}
	.events-card-content{
		.events-card-title{
			text-transform: uppercase;
		}
		.events-card-nav{
			div{
				&:nth-child(1){
					margin-bottom:1em;
				}
				a{
				display:inline-block;
				}
			}
		}
	}
}

@media (max-width: 575px) { 
	.events-card-thumb{
		margin-bottom:2em;
	}
}

//
//event//
//

.workshop-map-wrap{
	padding:0;
}
//
//customer review//
//
.customer-review-section{
	.quote-box{
		margin-bottom:1.5em;
		i{
			padding:0.5em;
			border-radius: 100%;
			border: 3px solid grey;
			font-size: 2em;
		}
	}

	.customer-review{
		margin-bottom: 3em;
		.review-content{
			font-size: 1.5em
		}
		.customer-name{
			font-size:1em;

		}
	}

	.carousel-indicators{
		bottom:0;
		li{
			background-color:rgba(0,0,0,0.4);
		}
		.active{
			background-color:rgba(0,0,0,0.8);
		}
	}
}

//
//HOME/SECOND SCREEN//
//


.second-screen{
	background-color: black;

	.home-service-btn-wrap{
		padding-top:2em;
		.home-service-btn-h{
			color: white;
		}
		.col-sm-4{
			text-align:center;
			margin-bottom:2em;

			.home-service-btn{
				padding:0.5em;
				color: white;
				background-color: rgba(255,255,255,0.2);
				border:1px solid white;
				text-transform: uppercase;
				&:hover{
					transition:1s;
					background-color: rgba(255,255,255,1);
					color: black;
				}
			}
		}
		
	}

	.hw-widget-wrap{
		color:white;
		.hw-widget-middle{
			padding: 2em 1em;
			margin-top:auto;
			margin-bottom:auto;
				p{
					text-align: center;

				}	
		}
		.hw-widget{
			height:350px;
			background-size: cover;
			background-position: center;
		}
	}
}

@media screen and (min-width: 992px)  and (orientation: landscape) {
	.home-service-btn-wrap{
		padding-top:2em;
		height:30vh;
	}
	.hw-widget{
		height:70vh !important;
	}
}

//
//BUDOKON//
//
@media (min-width: 992px){

	.modal-dialog {
		max-width: 100%;
		margin:5% 10%;
	}
}

.budokoncard-modal{
	padding: 1em;
}

.budokoncard-modal-description{
	padding: 1em;
}

.budokoncard-modal-cover{
	height:400px;
	width:100%;
	background-image:url(/images/budokon/movement.jpg);
	background-size:cover;
	background-position: top center;
}

//
//LEGACY//
//
/*
.services{
	background: url(/images/services/service.jpg);
}

.schedule-card{
	h3{
		color:#c8ab2d;
	}
	p{
		
	}
	ul{
		list-style-type: none;
	}
}
*/

//MAPS
#map {
  height: 400px;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

//for bs modals
.pac-container{
  z-index: 1060 !important
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}