<div class="row">
	<div class="col-sm-12 aftermargin">
		<%= link_to 'Show', [:admin, @ttday], :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_ttdays_path, :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-12">
		<h3>Editing Timetable Day</h3>	
	</div>
</div>

<%= render 'form', ttday: @ttday %>
