
<table>
  <tr>
    <td id="mcontenttitle">
      Contact request from website
    </td>
  </tr>
  <tr>
    <td id="mfrom">
      Sender: <%= @message.name %> <span id="msender">< <%= @message.email %> ></span>
    </td>
  </tr>
  <tr>
    <td id="mmessage">
      <%= @message.content %>
    </td>
  </tr>
</table>