<div class="row">
	<div class="col-sm-12 aftermargin">
		<%= link_to 'Show', [:admin, @applicant], :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_applicants_path, :class => "btn btn-primary" %>
	</div>
	<div class="col-sm-12">
		<h3>Editing Applicant</h3>	
	</div>
</div>
<%= render 'form', applicant: @applicant %>
