<footer>
<div class="container-fluid">
	<div class="row footer-wrap">
		<div class="col-sm-12 footer-pre centered">
			<div class="footer-pre-content">
				<h3>LET’S SOCIALIZE</h3>
				<p>Thanks for stopping by – and feel free to say Hi on Facebook, Instagram and Youtube</p>
				<div class="social-icons">
					<%= link_to 'https://www.facebook.com/attila.gyomrei' do %>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<% end %>
					<%= link_to 'https://www.instagram.com/attisurf/' do %>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<% end %>
					<%= link_to 'https://www.instagram.com/attisurf/' do %>
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
					<% end %>
				</div>
				
			</div>	
		</div>
		<div class="col-sm-12 footer centered">
			<div class="footer-content">
				<p>info@budokonattila.com</p>
				<p>Proud member of Budokon//Cameron &amp; Melayne Shayne
				</p>
				<%= link_to policy_path do %>
					<p>Terms & Policy</p>
				<% end %>
			</div>
		</div>
	</div>
	</div>
</footer>